.menu {
	height: 100%;
	width: 200px;
	border-right: 1px solid lightgray;
	overflow-y: auto;
	background-color: #FAFAFB;
	
}

.menuItem {
 	font-size: 14px;
	text-align: center;
	padding: 5px;
}

.menuItem:hover {
 	text-decoration: underline;
	color:#4282ad;
}