.header, .menu, .content {
  box-sizing: border-box;
}

.app {
  min-height: 100%;
  flex-direction: column;
  overflow: auto;
  display: flex;
  min-width: 900px;
}

html, #root, body {
  height: 100%;
  margin: 0px;
}

body {
  font-family: Helvetica, Arial;
}

.app-body {
  display: flex;
  flex: 1;
}

.content {
  position: relative;
  flex: 1;
}

.online-shop-title {
  font-size: 26px;
  margin: 5px;
  color:#504F5A;
}